<?xml version="1.0" encoding="utf-8"?>

<device schemaVersion="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:noNamespaceSchemaLocation="CMSIS-SVD.xsd" >
    <vendor>{{ vendor }}</vendor>
    <name>{{ name | upper }}</name>
    {% if description is not none %}
    <description><![CDATA[{{ description | reflow }}]]></description>
    {% endif %}

    <addressUnitBits>8</addressUnitBits>
    <width>32</width>
    <size>32</size>
    <access>read-write</access>
    <resetValue>0x00000000</resetValue>
    <resetMask>0xFFFFFFFF</resetMask>

    <peripherals>
    {% for region in documented_regions %}
        {% filter indent(width=8, indentfirst=true) %}
	{% include 'csr_peripheral.svd.jinja' %}
	{% endfilter %}
    {% endfor %}
    </peripherals>
    <vendorExtensions>
        {% if soc.mem_regions | length > 0 %}
        <memoryRegions>
        {% for name, region in soc.mem_regions.items() %}
            <memoryRegion>
                <name>{{ name | upper }}</name>
                <baseAddress>{{ region.origin | hex(8, True) }}</baseAddress>
                <size>{{ region.size | hex(8, True) }}</size>
            </memoryRegion>
        {% endfor %}
        </memoryRegions>
        {% endif %}

        <constants>
        {% for name, value in soc.constants.items() %}
            <constant name="{{ name }}" value="{{ value }}" />
	{% endfor %}
        </constants>
    </vendorExtensions>
</device>
